In [1]:
import pandas as pd

In [3]:
indi = pd.read_csv('indi.csv',encoding='utf-8',index_col=0)
folk = pd.read_csv('folk.csv',encoding='utf-8',index_col=0)
rock = pd.read_csv('rock.csv',encoding='utf-8',index_col=0)
hiphop = pd.read_csv('hiphop.csv',encoding='utf-8',index_col=0)
ballad = pd.read_csv('ballad_final_19제거.csv',encoding='utf-8',index_col=0)

# indi 결측치 제거

In [4]:
indi.head(2)

,제목,가수,곡 번호,가사
0,나랑 같이 걸을래 (바른연애 길잡이 X 적재),적재,33011180,\r\n\t\t\t\t\t\t\t가을밤이 찾아와그대를 비추고또 나를 감싸네눈을 감을...
1,오래된 노래,스탠딩 에그,3894276,\r\n\t\t\t\t\t\t\t오래 전에 함께 듣던 노래가발걸음을 다시 멈춰서게 ...

In [5]:
indi.shape

(15000, 4)

In [20]:
indi.loc[indi['가사'] != '가사 확인 불가'].shape

(14827, 4)

In [21]:
indi = indi.loc[indi['가사'] != '가사 확인 불가']

In [22]:
indi['장르'] = 'indi'

In [23]:
indi.head(3)

,제목,가수,곡 번호,가사,장르
0,나랑 같이 걸을래 (바른연애 길잡이 X 적재),적재,33011180,\r\n\t\t\t\t\t\t\t가을밤이 찾아와그대를 비추고또 나를 감싸네눈을 감을...,indi
1,오래된 노래,스탠딩 에그,3894276,\r\n\t\t\t\t\t\t\t오래 전에 함께 듣던 노래가발걸음을 다시 멈춰서게 ...,indi
2,너의 번호를 누르고 (Prod. 영화처럼),#안녕,32224166,\r\n\t\t\t\t\t\t\t우연히 너를 만나서너의 옆자리에 앉아그렇게 우린 친...,indi

In [24]:
indi.to_csv('indi14827개.csv', encoding='utf-8')

# folk 결측치 제거

In [6]:
folk.head(2)

,제목,가수,곡 번호,가사
0,오래된 노래,스탠딩 에그,3894276,\r\n\t\t\t\t\t\t\t오래 전에 함께 듣던 노래가발걸음을 다시 멈춰서게 ...
1,Gone,로제 (ROSÉ),33346447,\r\n\t\t\t\t\t\t\tI thought that you remember ...

In [7]:
folk.shape

(15000, 4)

In [25]:
folk.loc[folk['가사'] != '가사 확인 불가'].shape

(12872, 4)

In [26]:
folk = folk.loc[folk['가사'] != '가사 확인 불가']

In [27]:
folk['장르'] = 'folk'

In [28]:
folk.head(3)

,제목,가수,곡 번호,가사,장르
0,오래된 노래,스탠딩 에그,3894276,\r\n\t\t\t\t\t\t\t오래 전에 함께 듣던 노래가발걸음을 다시 멈춰서게 ...,folk
1,Gone,로제 (ROSÉ),33346447,\r\n\t\t\t\t\t\t\tI thought that you remember ...,folk
2,폰서트,10CM,30611680,\r\n\t\t\t\t\t\t\t이건 세상에서제일 비싼 단독 공연가수는 나고 관객은...,folk

In [35]:
folk.to_csv('folk12872개.csv', encoding='utf-8')

# rock 결측치 제거

In [29]:
rock.head(2)

,제목,가수,곡 번호,가사
0,On The Ground,로제 (ROSÉ),33346446,\r\n\t\t\t\t\t\t\tMy life's been magic seems f...
1,Blueming,아이유,32183386,\r\n\t\t\t\t\t\t\t‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속...

In [10]:
rock.shape

(15000, 4)

In [31]:
rock.loc[rock['가사'] != '가사 확인 불가'].shape

(13962, 4)

In [32]:
rock = rock.loc[rock['가사'] != '가사 확인 불가']

In [33]:
rock['장르'] = 'rock'

In [34]:
rock.head(3)

,제목,가수,곡 번호,가사,장르
0,On The Ground,로제 (ROSÉ),33346446,\r\n\t\t\t\t\t\t\tMy life's been magic seems f...,rock
1,Blueming,아이유,32183386,\r\n\t\t\t\t\t\t\t‘뭐해?‘라는 두 글자에‘네가 보고 싶어’ 나의 속...,rock
2,에잇(Prod.&Feat. SUGA of BTS),아이유,32578498,\r\n\t\t\t\t\t\t\tSo are you happy nowFinally ...,rock

In [37]:
rock.to_csv('rock13962개.csv', encoding='utf-8')

# hiphop 결측치 제거

In [11]:
hiphop.head(2)

,제목,가수,가사,장르
0,멜로디,ASH ISLAND,어딘가 들어본 듯한 이 Melody\n떠올라 작은 기억들이 My memories\n...,rap/hiphop
1,마.피.아. In the morning,ITZY (있지),Shhhhhhh\nGuess who loves you 나야 나\nDo I show ...,rap/hiphop

In [12]:
hiphop.shape

(15000, 4)

In [43]:
hiphop.loc[hiphop['가사'] != '가사 확인 불가'].shape

(14980, 4)

In [44]:
hiphop = hiphop.loc[hiphop['가사'] != '가사 확인 불가']

In [49]:
hiphop.loc[hiphop['가사'] != '가사없음'].shape

(14325, 4)

In [50]:
hiphop = hiphop.loc[hiphop['가사'] != '가사없음']

In [51]:
hiphop['장르'] = 'hiphop'

In [52]:
hiphop.head(3)

,제목,가수,가사,장르
0,멜로디,ASH ISLAND,어딘가 들어본 듯한 이 Melody\n떠올라 작은 기억들이 My memories\n...,hiphop
1,마.피.아. In the morning,ITZY (있지),Shhhhhhh\nGuess who loves you 나야 나\nDo I show ...,hiphop
2,"사이렌 Remix (Feat. UNEDUCATED KID, Paul Blanco)",호미들,울려댔어 사이렌\n텅 빈 길거리엔\n도망치다 흘린 칼자루와 피가 흥건해\n우리 그때...,hiphop

In [53]:
hiphop.to_csv('hiphop14325개.csv', encoding='utf-8')

# ballad 결측치 제거

In [13]:
ballad.head(2)

         제목      가수                                                 가사      장르
0  Timeless  SG 워너비  어쩜 살아가다 보면 한 번은 날 찾을지 몰라\n나 그 기대 하나로 오늘도 힘겹게 버...  ballad
1       라라라  SG 워너비  그대는 참 아름다워요\n밤 하늘의 별빛보다 빛나요\n지친 나의 마음을 따뜻하게 감싸...  ballad

In [14]:
ballad.shape

(14860, 4)

In [58]:
ballad.loc[ballad['가사'] == '가사 확인 불가']

Empty DataFrame
Columns: [제목, 가수, 가사, 장르]
Index: []

In [59]:
ballad.loc[ballad['가사'] == '19']

Empty DataFrame
Columns: [제목, 가수, 가사, 장르]
Index: []

In [60]:
ballad.loc[ballad['가사'] == '가사없음']

Empty DataFrame
Columns: [제목, 가수, 가사, 장르]
Index: []

In [61]:
ballad.to_csv('ballad14860개.csv',encoding='utf-8')